<nz-layout class="h-full">
<nz-header class="flex items-center justify-between">
  <button nz-button nzType="text" class="flex items-center">
    <span nz-icon nzType="arrow-left" nzTheme="outline" class="mr-2"></span>
  </button>
  <!--    TODO: naviagetto homepage-->
  <a href="" class="flex items-center">
    <img src="../assets/img/nav.svg" class="h-6 mr-3 rounded-full" alt="ZAR Trek Logo">
<!--    <span class="self-center text-1xl font-semibold whitespace-nowrap">ZAR Trek</span>-->
  </a>
  <button (click)="signOut()" nz-button nzType="primary" nzSize="small" nzShape="circle" class="flex items-center justify-center bg-black">  <span nz-icon nzType="logout" nzTheme="outline"></span></button>
</nz-header>
  <router-outlet/>
</nz-layout>
