<li class="mb-10 ml-4" *ngIf="itineraryItem">
  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-400">{{(itineraryItem.startDateTimeISOString?.toDate() | date:'mediumDate':'shortTime')}} - {{(itineraryItem.endDateTimeISOString?.toDate() | date: 'h:mm a')}}</time>
  <h3 class="text-lg font-semibold text-gray-900">{{itineraryItem.title}}</h3>
  <p class="mb-4 text-base font-normal text-gray-500">{{itineraryItem.description}}</p>
  <p class="mb-4 text-sm leading-none text-gray-400 md:text-2xl">{{ itineraryItem.costEstimate | currency:'R'}}</p>

  <div class="w-2/6 flex justify-between">
    <button nzButton (click)="viewItineraryItem(itineraryItem)" class="h-8 text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded text-sm px-2.5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
      <span nz-icon nzType="eye" nzTheme="outline"></span>
    </button>
    <button nzButton (click)="editItineraryItem(itineraryItem)" class="h-8 text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded text-sm px-2.5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
      <span nz-icon nzType="edit" nzTheme="outline"></span>
    </button>
    <button
      nz-popconfirm
      nzPopconfirmTitle="Are you sure you want to delete this itinerary item?"
      (nzOnConfirm)="deleteItineraryItem(itineraryItem._id)"
      nzPopconfirmPlacement="top"
      nz-button
      nzType="primary"
      nzDanger
      nzOkText="Yes"
    >
      <span nz-icon nzType="delete" nzTheme="outline"></span>
    </button>
  </div>
</li>


