<!--  <button *ngIf="isLoggedIn$ | async" type="button" (click)="signOut()">Sign Out</button>-->
<div class="
      h-full
      bg-auth bg-no-repeat bg-cover bg-center bg-fixed
      flex justify-center items-center">
  <form class="
        h-fit max-w-xs p-4
        bg-white opacity-90 rounded
        flex flex-col justify-center
        " nz-form [formGroup]="authForm">
    <a href="#" class="flex items-center justify-center text-2xl font-semibold text-gray-900 mb-3">
      <div class="border-2 border-gray-600 p-0.5 rounded-full flex justify-center w-fit">
        <img class="w-12 h-12 rounded-full opacity-90" src="assets/img/logo.svg" alt="logo">
      </div>
    </a>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control nzErrorTip="Please input your E-mail!">
        <nz-input-group nzPrefixIcon="user">
          <input id="email" type="email" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input id="password" type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button class="
        text-white bg-black opacity-90
        hover:bg-auth-hover focus:ring-4 focus:outline-none focus:ring-blue-300
        font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mb-2.5 text-center
        " *ngIf="!(isLoggedIn$ | async)" type="button" (click)="signInExistingUser()">Sign In </button>
    <p class="flex justify-center mb-2"> or continue with</p>
    <button class="
        text-white bg-black opacity-90
        hover:bg-auth-hover focus:ring-4 focus:outline-none focus:ring-blue-300
        font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mb-2.5 text-center
        flex items-center justify-center gap-2
        " *ngIf="!(isLoggedIn$ | async)" type="button" (click)="signInExistingUserWithGoogle()"><span nz-icon
        nzType="google" nzTheme="outline"></span>
      <p>Google </p>
    </button>

    <p class="text-sm font-light text-gray-500 mx-auto">
      Don’t have an account yet? <a (click)="signUpNewUser()" class="font-medium text-primary-600 hover:underline">Sign
        up</a>
    </p>
  </form>
</div>

<div class="bg-auth bg-no-repeat bg-cover bg-center bg-fixed">

</div>