<form>
  <input type="email" #email>
  <input type="password" #password>

  <button *ngIf="!(isLoggedIn$ | async)" type="button" (click)="signUpNewUser(email.value, password.value)">Sign Up</button>
  <button *ngIf="!(isLoggedIn$ | async)" type="button" (click)="signInExistingUser(email.value, password.value)">Sign In</button>
  <button *ngIf="!(isLoggedIn$ | async)" type="button" (click)="signInExistingUserWithGoogle()">Sign In  With Google</button>
  <button *ngIf="isLoggedIn$ | async" type="button" (click)="signOut()">Sign Out</button>

</form>
